@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root {
    --bg-color: #121212;
    --font-color: #ffffff;
     --color-primary: #5841f1;
}
body {
	margin: 0;
	padding: 0;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none;
}
.main {
    height: 100vh;
    background: url(assets/anime-night-scenery-8r.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    background-attachment: fixed;
}
.project{
	background: url(assets/background.jpg);
    background-position: center;
    background-size: cover;
	background-attachment: fixed; 
    height: fit-content;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    background-size: cover;
    flex-direction: column;
	height: 100vh;
}
.project-2{
    height: fit-content;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
    background-size: cover;
    flex-direction: column;
    height: 100vh;
}

	.nav {
		position: fixed; /* Set the navbar to fixed position */
		top: 0; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
	}
    
	.col-6,
	.row {
		margin: 0;
		padding: 0;
	}
	a{
		cursor: pointer;
	}
	a:hover{
		opacity: 95%;
	}
	.pointer-defualt{
		cursor:default;
	}

    .nav a{
        font-size: 2em ;
        font-family: 'Dancing Script', cursive;
    }
	@keyframes MoveUpDown {
		0%,
		100% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-20px);
		}
	}
	.arrow {
		animation: MoveUpDown 5s linear infinite;
		position: absolute;
	}